{% extends 'blog/base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="row">
    <div class="col-8">
        {% for blog in blogs %}

        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ blog.title }}</h5>
                <div class="d-flex justify-content-start align-items-center text-muted">
                    <a href="{% url 'demo' request.user.id %}" class="text-decoration-none"><h6 class="m-0">{{ blog.author.full_name }}</h6></a>
                    <span class="ms-2">{{ blog.created_on }}</span>
                </div>
                <!-- <p class="card-text">{{ blog.snippets | truncatechars:200 | safe }}</p> -->
                <p class="card-text">{{ blog.snippet | slice:200 | safe }}</p>
                <a href="{% url 'detail' blog.pk %}" class="btn btn-primary">Read More</a>
                {% if request.user == blog.author %}
                <a href="{% url 'update-post' blog.pk %}" class="btn btn-secondary">Edit</a>
                <a href="{% url 'delete-post' blog.pk %}" class="btn btn-danger">Delete</a>
                {% endif %}
                
            </div>
        </div>
        {% endfor %}
        <!-- {{ blogs }}
        <br>
        Has Previous : {{ blogs.has_previous }}
        <br>
        Has Next : {{ blogs.has_next }}
        <br>
        Current Page : {{ blogs.number }}
        <br>
        Number of Pages : {{ blogs.paginator.num_pages }} -->

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if blogs.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ blogs.previous_page_number }}">Previous</a>
                </li>
                {% endif %}

                <li class="page-item"><a href="#" class="page-link disabled">Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}</a></li>

                {% if blogs.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ blogs.next_page_number }}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ blogs.paginator.num_pages }}">Last &raquo;</a>
                </li>
                {% endif %}

            </ul>
        </nav>
    </div>
    <div class="col-4">
        <div class="card mb-3">
            <h5 class="card-header">Featured</h5>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card mb-3">
            <h5 class="card-header">Featured</h5>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}